.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.Body{
  font-family: montserrat;
  background-color: #34495e;
  border:1px solid red;
}
nav{
  height: 80px;
  width: 100%;
  background: #34495e;
}
label.title{
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
  border:1px solid red;

}
nav ul {
  float: right;
  margin-right: 40px;

}
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;

}
nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border:1px solid red;
  padding:7px 10px;
}
section{
  font-family: montserrat;
  background: url('./images/background.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  color: white;
  text-align: center;
  padding-top: 10%;
}
.loginTitle, .signupTitle{
  font-size: 50px;
}
.Login, .Account, .About, .HomePage, .NotFound, .SignUp, .Contact{
  text-align: center;
}


.dropdown{
  position: relative;
  display: inline-block;
  z-index: 10; 
}
.dropdown_button{
  display: inline-block;
  padding: 10px;
  background: #323b40;
  color: white;
  cursor: pointer;
  border: none;
}
.dropdown_button:hover{
  background: #222;
  display: inline-block;
}
.dropdown_menu{
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: white;
  color: #323b40;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3)
}
.dropdown:hover .dropdown_menu{
  display: block;
}
.dropdown_menu a{
  display: block;
  padding: 10px;
  text-decoration: none;
  border: none;
}
.dropdown_menu a:hover{
  background: #f0f0f0;
  color: #323b40;
}
.submit{
  color:#323b40;
}